.about .about-overlay .about-content .join .head-join {
    border: 1px solid #f0f0f0;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  
  .about .about-overlay .about-content .join .head-join h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    color: #666;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.2px;
    text-transform: uppercase;
    line-height: 15px;
    padding: 14px 20px;
  }
  
  .about .about-overlay .about-content .join .head-join h4 .span-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 100%;
    line-height: 45px;
    text-align: center;
  }
  
  .about .about-overlay .about-content .join .body-join {
    overflow: hidden;
    height: 0;
    transition: .35s all ease;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content {
    border: 1px solid #f0f0f0;
    padding: 14px 20px;
    background-color: #f8f8f8;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group {
    padding: 10px 0;
    margin: 0;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group label {
    display: block;
    font-weight: 700;
    font-size: 16px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
    color: #aaa;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .form-control {
    color: #333;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 38px;
    width: 100%;
    line-height: 1.3;
    border-radius: 0;
    outline: none;
    box-shadow: none;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .form-control.phone-input {
    padding-left: 50px;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .form-control:focus::placeholder {
    color: #fff;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group ul.checkboxs {
    margin: 0;
    padding: 0;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group ul.checkboxs li {
    margin-bottom: 5px;
    display: inline-block;
    padding-right: 0px;
    width: 33%;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group ul.checkboxs li label {
    display: inline;
    vertical-align: baseline;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #aaa;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group ul.checkboxs li input {
    height: auto;
    width: auto;
    border: 0;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .drag {
    border: 1px dashed #ccc;
    border-radius: 2px;
    background: #fcfcfc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .drag #text {
    position: relative;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .drag #text p {
    font-size: 15px;
    line-height: 22.5px;
    margin-bottom: 0;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .drag #text img {
    display: inline-block;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .drag #text .data {
    display: inline-block;
    line-height: 50px;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .drag #text .data .d-size {
    color: #888;
    font-size: 12px;
    line-height: 24px;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .drag #text .data .d-name {
    font-size: 14px;
    line-height: 24px;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .drag #text .data .remove {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #666;
    width: 20px;
    height: 20px;
    display: block;
    font-weight: 900;
    transition: 0.25s all ease;
    cursor: pointer;
    opacity: .5;
    line-height: 20px;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .drag #text .data .remove:hover {
    opacity: 1;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group span#field {
    color: #990000;
    font-size: 12px;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group button {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    background-color: ##3bcfcb;
    outline: none;
    box-shadow: none;
    border: 0;
  }
  
  .about .about-overlay .about-content .join .body-join .body-content form .form-group .iti {
    width: 100%;
  }
  
  .about .about-overlay .about-content .join .body-join.active {
    height: 555px;
  }
  .experts .experts-overlay .experts-content .expert {
    background-color: #fff;
    transition: 0.25s all ease;
    padding: 32px 15px 15px;
    border-radius: 9px;
    margin-bottom: 35px;
}

.experts .experts-overlay .experts-content .expert .img-expert {
    margin-bottom: 40px;
    text-align: center;
}

.experts .experts-overlay .experts-content .expert .img-expert img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    object-fit: cover;
}

.experts .experts-overlay .experts-content .expert .name-expert h3 {
    text-align: center;
    color: ##3bcfcb;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
}

.experts .experts-overlay .experts-content .expert .name-expert h5 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: ##3bcfcb;
}

.experts .experts-overlay .experts-content .expert:hover {
    box-shadow: 0 10px 17.8px 2.2px rgba(0, 0, 0, 0.18);
}
